body{
  font-family: Montserrat !important;
  #react-mathjax-preview-result{
    span{
      font-size: 16px;
    }
  }
  .hidden-scrollbar{
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .student-image{
    img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    }
  }
.no-record-found-wapper{
  display: flex;
    align-items: center;
    height: 60vh;
    justify-content: center;
}
//////////////res-dates//////////
.res-dates{
  display: flex;
  width: 100%;
}
/////////////////////////////////

  //class test css
  .select-students-modal{
    .student-list-select-all{
      border-bottom: 1px solid rgba(0, 0, 0, 0.54);
      margin-top: 30px;
      border-bottom: none;
      font-size: 14px;
      padding-left: 10px;
      color: #000;
      cursor: pointer;
      input[type="checkbox"]{
        margin-right: 10px;
      }
    }
    .select-class-container{
      .student-list, .student-list-select-all{
        // box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 14px;
        padding: 10px;
        cursor: pointer;
        // border-radius: 3px;
        span{
          color: #000;
          &:last-child{
            color: rgba(0, 0, 0, 0.54);
            display: block;
            font-size: 10px;
            margin-left: 25px;
            margin-top: 5px;
          }
        }
        input[type="checkbox"]{
          margin-right: 10px;
        }
        margin-bottom: 10px;
      }
    }
  }

  .class-test-crud-modal{
    .body{
      max-height: 350px;
      overflow: auto!important;
      margin-bottom: 20px!important;
    }
    .footer{
      .primary-link{
        margin-right: 30px;
      }
    }
    .up-datepicker{
      margin-left: 0px;
    }
    .MuiDialogTitle-root{
      margin-bottom: 20px;
      h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }
    }
    .class-test-crud-summary{
      margin-top: 40px;
      input[type="checkbox"]{
        width: -webkit-fill-available;
      }
      .react-datepicker-wrapper{
        width: 100%;
      }
    }
    .create-test-form{
      .test-type-select{
        display: contents;
        font-size: 12px;
        span{
          margin-right: 10px;
          cursor: pointer;
          input[type="radio"]{
            width: auto;
          }
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      label{
        margin-bottom: 10px;
      }
      input{
        background: #FFFFFF;
        border: 0.64px solid #C6C9D5;
        box-sizing: border-box;
        box-shadow: inset 0px 1px 2px rgba(180, 180, 180, 0.5);
        border-radius: 2.56px;
        font-size: 14px;
        width: 100%;
        padding: 5px 10px;
      }
      .chapter-select{
        width: 100%;
        .MuiSelect-select{
          padding: 5px 20px 5px 10px;
        }
      }
      label{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #2F4D78;
      }
    }
    .class-test-crud-topics{
      border-bottom: 1px solid #EEEEEE;
      h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #2F4D78;
      }
      input[type="number"]{
        border-radius: 3px;
        border: 1px solid #E6E6E6;
        width: 55%;
        padding: 5px;
        font-size: 12px;
      }
      input[type='checkbox']{
        margin-right: 10px;
      }
    }
  }

  //syllabus css
  .chapter-unlock-modal{
    .footer{
      margin-right: 20px;
      margin-bottom: 20px;
      .success-button{
        margin-right: 20px;
      }
    }
    .body{
      margin-bottom: 60px;
      overflow: visible;
      min-height: 300px;
      box-shadow: inset 0px -2px 7px rgba(180, 180, 180, 0.5);
      .notice{
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.41;
      }
    }
  }
  .syllabus-container{
    margin-top: 30px;
    .unit-heading{
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
    .chapter-card{
      .MuiCardContent-root{
        padding: 16px 13px 17px 13px;
      }
      .progress-con{
        width: 100%;
        margin-top: 15px;
        .progress{
          background: #D8D8D8;
          height: 10px;
          border-radius: 10px;
          width: 90%;
          margin-top: 0px;
          margin-left: 10%;
          .progress-success{
            background: #7ED321;
            height: 10px;
            border-radius: 10px;
          }
        }
        span{
          font-size: 10px;
          margin-left: 10%;
        }
      }
      .MuiCardActions-root{
        padding: 0px !important;
      }
      .chapter-number{
        font-weight: 500;
        font-size: 12px;

      }
      h6{
        font-size: 16px;
        font-weight: 500;
      }
      button{
        background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F9 100%);
        border: 1px solid #D7DCE5;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
        border-radius: 4px;
        font-weight: 300;
        font-size: 12px;
        margin-top: 20px;
        span{
          text-transform: none;
        }
      }
    }
  }

  //student list css
  .students{
    .student-list{
      padding: 12px 14px 12px 14px;
      align-items: center;
      cursor: pointer;
      background: #fff;
      margin-bottom: 20px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.146744);
      p{
        color: #A4A4A4;
        margin-bottom: 0px;
        font-size: 13px;
        margin-top: 0px;
      }
      h4{
        font-size: 10px;
        font-weight: 500;
        margin-top: 3px;
        margin-bottom: 0;
      }
      span{
        font-size: 10px;
      }
      .student-detail{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .student-info{
          margin-left: 10px;
          h3{
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 13px;
            margin-top: 0px;
          }
          p{
            margin-top: 0px;
            font-size: 10px;
          }
        }
      }
      .learning-status{
        padding-right: 10px;
        text-align: center;
      }
    }
  }

  //progress bar css
  .upschool-progress{
    padding-left: 10px;
    .progress{
      background: #D8D8D8;
      height: 15px;
      border-radius: 10px;
      width: 100%;
      margin-top: 5px;
      .progress-success{
        background: #7ED321;
        width: 0%;
        height: 15px;
        border-radius: 10px;
      }
    }
    .warning-image{
      margin-right: 20px;
      position: absolute;
      right: 20px;
      text-align: left;
      font-size: 10px;
      img{
        height: 20px;
        display: block;
      }
      span{
        margin-top: 20px;
      }
    }
  }

  //student profile css
  .student-profile{
    margin-top: 20px;
    p{
      color: #A4A4A4;
      margin-bottom: 0px;
      font-size: 12px;
      margin-top: 5px
    }
    h4{
      margin-top: 0px;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0px;
    }
    span{
      font-size: 10px;
      font-weight: 500;
    }
    .student-image{
      float: left;
      margin-right: 20px;
    }
    .student-profile-tabs{
      border-bottom: 1px solid #C5C5C5;
      color: #888C9B;
      margin-top: 40px;
      .MuiTabs-indicator{
        background: #3482FF;
      }
      .Mui-selected{
        color: #000;
        font-weight: 500;
      }
    }
    .class-test-container{
      .student-test{
        background: #fff;
        margin-top: 20px;
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
        span{
          color: #A4A4A4;
        }
        h4{
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #141414;
        }
      }
    }
    .syllabus-container{
      margin-top: 20px;
      .chapter-list{
        margin-bottom: 20px;
        h4{
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #141414;
        }
        .syllabus-detail{
          h4{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #32C5FF;
          }
          .pre-learning, .post-learning{
            padding: 0 25px 0 0;
            border-right:1px solid #F0F0F0;
            .chapter-detail{
              border-bottom: 1px solid #F0F0F0;
              // padding-right: 25px;
              h5{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #383838;
              }
              .progressbar {
                margin: 0;
                display: flex;
                padding: 0;
                // justify-content: space-between;
                text-align: center;
                padding-bottom: 11px;
                padding-top: 10px;
                li{
                  list-style-type: none;
                  float: left;
                  font-size: 12px;
                  position: relative;
                  color: #7d7d7d;
                  border-top: 1px solid #D8D8D8;
                  flex: 1 0 auto;
                  text-align: center;
                  .MuiSvgIcon-root{
                    fill: #7ED321;
                    position: absolute;
                    top: -9px;
                    left: 43%;
                    width: 18px;
                    height: 18px;
                  }
                  &.failed{
                    .MuiSvgIcon-root{
                      fill: rgb(253,112,130)
                    }
                  }
                  p{
                    margin: 10px 0 0 0;
                  }
                  .not-checked-circle{
                    background: #D8D8D8;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    margin-bottom: 9px;
                    position: absolute;
                    left: 43%;
                    top: -8px;
                  }
                    &:last-child{
                      text-align: right;
                      .not-checked-circle{
                        right: 0 !important;
                        left: unset;
                      }
                      .MuiSvgIcon-root{
                        right: -2px;
                        left: unset;
                      }
                    }
                    a{
                      font-size: 10px;
                      color:#3482FF;
                      cursor: pointer;
                    }

                    &:first-child{
                      text-align: left;
                      p{
                        margin-left: 0px;
                      }
                      .not-checked-circle{
                        left: 0px;
                      }
                      .MuiSvgIcon-root{
                        left:-2px;
                      }
                    }
                  }
                }
                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
            }
          }
          .post-learning{
            padding: 0 25px 0 14px;
          }
        }
      }
    }
  }
  .student-activity{
    background: #fff;
    p{
      color: #A4A4A4;
      margin-bottom: 0px;
      font-size: 14px;
      margin-top: 5px
    }
    .upschool-progress{
      margin-bottom: 40px;
      .progress{
        width: 95%;
      }
      span{
        font-size: 12px;
        font-weight: 500;
      }
    }
    .recent-activity{
      margin-left: 10px;
      h4{
        font-weight: 500;
        font-size: 14px;
      }
      .timeline {
        position: relative;
        margin: 0 auto;
        &:after {
          content: '';
          position: absolute;
          width: 2px;
          background-color: #BABABA;
          top: 0;
          bottom: 0;
          left: 5%;
          margin-left: -3px;
        }
        .timeline-content{
          position: relative;
          &:before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: #BABABA;
            top: 0px;
            left: 2px;
            border-radius: 50%;
            z-index: 1;
          }
          .content{
            p{
              font-size: 10px;
            }
          }
        }
        .content{
          padding-left: 20px;
          padding-right: 10px;
          margin-bottom: 30px;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .student-profile{
    margin-right: 230px;
  }
  .student-activity{
    position: fixed;
    right: 0px;
    top: 60px;
    width: 230px;
    height: 100%;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .student-profile{
    margin-right: 230px;
  }
  .student-activity{
    position: fixed;
    right: 0px;
    top: 60px;
    width: 230px;
    height: 100%;
  }
}

//chapter-details-styles
.chapter-wrapper{
  .chapter-tabs-wrapper{
    margin-bottom: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.146744);
    overflow: hidden;
    .chapter-page-tab{
      background: #fff;
      border-bottom: 1px solid #C5C5C5;
      padding: 0px 20px;
      .MuiTab-root{
        text-transform: none;
        font-family: Montserrat;
        font-size: 16px;
      }
    }
    .pre-learning-tab{
          padding: 15px 20px 40px 20px;
        .primary-link{
          font-family: Montserrat !important;
        }
        .pre-learning-notice{
          background: #FFFDE7;
          padding: 4px 12px;
          border: 0.5px solid #D1B600;
          box-sizing: border-box;
          border-radius: 4px;
          margin-bottom: 8px;
          p{
            color: #827200;
            margin: 0px !important;
            font-size: 12px;
            margin-top: 5px
          }
        }
        .summary-table{
          thead tr th{
              color: #363642 !important;
              font-family: Montserrat;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              padding: 14px !important;
          }
          tbody tr th,td{
              cursor: pointer;
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 500;
              color: #383838;
              line-height: 20px;
              padding: 12px 14px 10px 14px!important;

          }
          tbody tr:hover{
            td{
              color: #3482FF;
            }
          }
          tbody tr td{
            cursor: text;
          }
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
              display: inline-block;
              margin-right: 30px;
              font-size: 10px;
              color:#3482FF;
              cursor: pointer;
              &:hover{
                color: #3E66A7;
              }
            }
         }
    }
    .post-learning-tab{
      @extend .pre-learning-tab ;
      button{
        background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F9 100%);
        border: 1px solid #D7DCE5;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
        border-radius: 4px;
        font-weight: 300;
        font-size: 12px;
        margin-top: 10px;
        display: block;
      }
    }
  }
  //student card styling
  .topic-student-status-wrapper{
    p{
      margin: 0;
      font-size: 14px;
      color: #7A7A7A;
      margin-bottom: 13px;
    }
    .student-card-wrapper{
      border-right: 1px dashed #D5D5D5;
      padding-top: 0px !important;
      max-height: 400px;
      overflow: auto;
      &:last-child{
        border-right: none;
      }
      // margin-right: 21px;
      .student-status-card{
        background: #FFFFFF;
        border: 1px solid #D6D8E1;
        box-sizing: border-box;
        padding: 11px 10px;
        display: flex;
        margin-bottom: 8px;
        .student-info{
            h3{
              font-weight: 500;
              font-size: 14px;
              margin: 0 0 2px 0px;
            }
            h4{
              font-size: 12px;
              color: #A4A4A4;
              font-weight: 500;
              margin: 0 0 5px 0;
            }
            p{
              font-weight: 500;
              font-size: 10px;
              color: #417505;
              margin: 0 0 4px 0;
            }
            span{
              font-size: 10px;
              color:#3482FF;
              cursor: pointer;
            }
            .help-btn{
              background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F9 100%);
              box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
              border-radius: 4px;
              border: 1px solid #D7DCE5;
              span{
                color:#000000
              }
            }
        }
      }
    }
  }
}
//class-test-page
.select-item{
  margin-top: 6px !important;
  .MuiOutlinedInput-input{
        padding: 6.5px 20px 6.5px 10px;
        width: 180px;
  }
}
.classTest-primary-detail{
   margin-bottom: 45px !important;
  .classTest-detail-item{
    p, h3{
      font-weight: 500 !important;
      font-size: 12px;
      line-height: 15px;
      color: #A2A2A2;
      margin: 0 0 3px 0
    }
    h3{
      font-size: 14px;
      margin:0;
      color: #000
    }
  }
  .classTest-topic{
    background: #E3E3E3;
    border-radius: 2px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    align-self: center;
    color: #000000;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .arrow-left {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 14px !important;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 15px solid #E3E3E3;
  }
}
.class-test-listing-table{
  thead tr th, tbody tr td{
    font-size: 12px;
    font-family: Montserrat;
    padding: 14px 14px 14px 5px;
    color: #000000;
  }
  tbody tr td{
    padding: 12px 14px 12px 5px;
    p{
      line-height: 15px;
      color: #BCBCBC;
      margin: 2px;
    }
    h3{
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      margin: 2px;
    }
    span{
      background: #7ED321;
      border-radius: 4px;
      padding: 2px 12px;
      color: #fff;
      font-size: 10px;
    }
    a{
      text-decoration: none;
      background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F9 100%);
      border: 1px solid #D7DCE5;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
      border-radius: 4px;
      padding: 8px 20px;
      color: #000
    }
    .edit-test, .delete-test{
      margin-left: 10px;
      padding: none;
      .MuiSvgIcon-root{
        font-size: 15px;
      }
    }
    .edit-test{
      .MuiSvgIcon-root{
        fill: #3e65a7;
      }
    }
    .delete-test{
      .MuiSvgIcon-root{
        fill: red;
      }
    }
  }
}
body .class-test-crud-modal .class-test-crud-summary input[type="checkbox"]{
  margin-top:9px !important;
  width: -webkit-fill-available !important;
}
.filter-search-bar{
  margin-bottom: 20px;
  .filter-btn{
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F9 100%);
    box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
    border: 1px solid #D7DCE5;
    width: 100%;
    height: 100%;
    border-radius: 0px 4px 4px 0px !important;
    span{
      color:#000000;
      font-family: Montserrat;
      text-transform: none;
      font-size: 12px;
    }
  }
  .search-bar{
    padding-left: 17px;
    border:  0.64px solid #C6C9D5;
    border-right: none;
    width: 100%;
    border-radius: 4px 0 0 4px !important;
    font-family: Montserrat;
    font-size: 14px;
  }
}
.class_test_listing{
  .classTest-listing-wrapper{
    margin-bottom: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(155, 153, 153, 0.5);
    overflow: hidden;
    .classTest-listing-tab{
      background: #fff;
      border-bottom:1px solid #E0E0E0;
      padding: 0px 20px;
      width:100%;
      margin-bottom: 3px;
      .MuiTab-root{
        text-transform: none;
        font-family: Montserrat;
        font-size: 14px;
      }
    }
    .tab-panel{
      padding: 20px;
      min-height: 350px !important;
    }
  }
}
//classTest detail page

.classTest-detail-tab-wrapper{
  margin-bottom: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(155, 153, 153, 0.5);
  overflow: hidden;
  .classTest-detail-tabs{
    background: #fff;
    border-bottom:1px solid #E0E0E0;
    padding: 0px 20px;
    width:100%;
    margin-bottom: 3px;
    .MuiTab-root{
      text-transform: none;
      font-family: Montserrat;
      font-size: 14px;
    }
  }
  .tab-panel{
    padding: 20px;
    .class-test-listing-table{
      tbody tr td{
        padding: 19px 14px 19px 5px;
      }
    }
  }
}
.class-test-status-table{
  .class-test-status-table-header{
    font-size: 12px;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 10px 17px !important;
  }
  .chapter-quiz-stuent-result{
    .MuiIconButton-label{
      color: rgba(0, 0, 0, 0.54) !important;
    }
    .math-tex{
      span{
        color: #000;
        padding: 0px;
      }
    }
    // padding: 10px 0px;
    margin-top: 10px;
    font-family: Montserrat;
    h3{
      margin: 0;
      font-size: 12px;
    }
    p{
      margin: 0;
      font-size: 13px;
      font-weight: 500;
      .read-more{
        color: #3482FF;
      }
    }
    span{
      padding: 3px 20px;
      font-size: 10px;
      border-radius: 4px;
    }
    .quiz-result-detail{
      .quiz-answer-option{
        .math-tex{
          span{
            color: #000;
          }
        }
        span{
          padding: 0;
          text-transform: capitalize;
          color: #ACACAC;
        }
      }
      .success-answer{
        .math-tex{
          span{
            color: #000;
          }
        }
        span{
          color: #7ED321;
        }
      }
      .failed-answer{
        .math-tex{
          span{
            color: #000;
          }
        }
        span{
          color: #FD7082;
        }
      }
    }
  }
}
.digicards-tab{
  font-family: Montserrat;
  .digicard-item{
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    a{
      color: #3e84ff;
      text-decoration: none;
      cursor: pointer;
    }
    h4{
      text-align: center;
    }
    img{
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
    div{
      padding-left: 10px;
      font-size: 12px;
    }
  }
  .MuiGrid-item{
    padding: 20px !important;
    font-size: 16px;
  }
}

//announcement page style
.announcement{
  label, textarea{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: #2F4D78;
  }
  .MuiFormControl-marginNormal{
    margin-top: 8px;
    margin-bottom: 0px;
    background: #fff !important;
    border-radius: 4px;
  }
  textarea{
    color:#000;
    font-size:14px;
    line-height: 17px;
    width:10px;
  }
  button{
    float: right;
    margin-top: 5px;
  }
  .text-wrapper{
    margin-bottom: 55px;
  }
  .announcement-card-wrapper{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.146744);
    background: #fff;
    padding: 18px 20px 12px 20px;
    p{
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      color: #888C9B;
    }
    h3{
      margin: 6px 0 15px 0px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.need-attention{
  .need-attention-tab{
    margin-top: 40px;
    margin-bottom: 22px;
    border-bottom: 1px solid #C5C5C5;
    padding: 0px 14px;
    .MuiTab-root{
      text-transform: none;
      font-family: Montserrat;
      font-size: 16px;
    }
    .MuiSvgIcon-root{
      margin-top:-5px !important;
    }
  }
  .need-attention-item-wrapper{
    background: #fff;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.146744);
    p, h4, span{
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      color: #888C9B;
      margin: 0;
    }
    p{
      margin-bottom: 4px;
    }
    h4{
      font-size: 16px;
      color:#000
    }
    span{
      color:#D0021B
    }
    .action-button{
      background: linear-gradient(180deg, #FFFFFF 0%, #F6F7F9 100%);
      box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
      border-radius: 4px;
      border: 1px solid #D7DCE5;
      padding: 1.5px 21px;
      span{
        color:#000000;
        text-transform: none;
        font-weight: 300;
      }
    }
  }
}
.MuiDialogTitle-root{
  margin-top:9px !important;
}
.MuiSvgIcon-root{
margin-top:-6px !important;
}
.MuiDialog-paperScrollPaper{
  padding-right :58px !important;
}
.dashboard{
  // body .page-header h2{
  //   margin-bottom: 25px !important;
  // }
  .learning-status{
    padding: 15px 20px;
    border: 1px solid #D6D8E1;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    height: 100%;
    ul{
      display: flex;
      list-style: none;
      padding:0;
      margin:11px 0 15px 0;
      justify-content: space-between;
      li{
        // flex: 1 0 0;
        font-weight: bold;
      
        p{
          text-align: center;
          font-size: 14px;
          line-height: 17px;
          color: #97989E;
          margin:20px 27px 7px 0;
        }
        h3{
          font-weight: 500 !important;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
          margin:0;
          text-align: center;
        }
      }
    }
    .learning-progress-bar{
      margin-bottom: 7px;
      height: 24px;
      position: relative;
      width:100%;
      box-sizing: border-box;
      border-radius: 12px;
      align-self: center;
      margin-top: 14px;
      z-index: 0;
      .progress{
        height: 100%;
        position: absolute;
        top: 0rem;
        left: 0rem;
        border-radius: 12px;
        &.performers{
          background: #96B375;
          z-index:3;
        }
        &.average{
          background: #EAC876;
          z-index:2
        }
        &.below-average{
          background: #B86E6E;
          z-index:1
        }
      }
    }
    .learning-progress-status{
      span{
        font-weight: 500;
        font-size: 9px;
        line-height: 12px;
        margin-left: 4px;
      }
      margin:0 !important;
        li{
          display: flex;
          // flex: auto
        }
      .status-circle{
        height:9px;
        width: 9px;
        border-radius: 50%;
        &.performers{
          background: #96B375;
        }
        &.average{
          background: #EAC876;
        }
        &.below-average{
          background: #B86E6E;
        }
      }
    }
  }
  .syllabus-status{
    @extend .learning-status;
    display: block;
    .learning-progress-bar{
      background: #E3E3E3;
    }
    p{
      margin:0 ;
      font-size: 10px;
    }
  }
  .dashboard-listing-wrapper{
    background: #fff;
    border: 1px solid #D6D8E1;
    border-radius: 4px;
    padding:18px 22px;
    height: 100%;
    .no-record-found{
      p,h4{
        font-size: 12px;
        margin-top: 0px;
      }
      color: #d6d6d6;
    }
    .dashboard-student{
      align-items: center;
      margin-top:15px;
      display: flex;
      border-bottom: 1px solid #d6d8e1;
      padding: 5px;
      .student-info{
        h3{
          margin:0;
          font-size: 13px;
          font-weight: 500;
        }
        p{
          font-size:10px;
          margin:0;
        }
        span{
          font-size: 10px;
        }
      }
    }
    .top-performers-detail{
      display: flex;
      margin-top: 20px;
      p{
        margin-bottom:3px;
      }
    }
    .weak-students-detail{
      margin-top:24px;
    }
    p{
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #A4A4A4;
      margin:0 0 20px 0;
    }
    ul{
      list-style: none;
      padding: 0;
      margin-bottom:0;
      li{
        position: relative;
        border-left: 1px solid #3E66A7;
        &:last-child{
          border-left: 1px solid transparent;
        }
      }

    }
    .pending-chapter-wrapper{
      // margin-bottom:25px;
      .circle-icon{
        height:9px;
        width: 9px;
        border-radius: 50%;
        background: #3E66A7;
        position: absolute;
        left: -5px;
      }
      h3{
        font-size: 11px;
        margin: 0;
        display: inline-block;
      }
      p{
        font-size: 10px;
        color: #000
      }
    }
  }
}
.MuiOutlinedInput-root{
  width: 137px;
  margin-left:32px;
}
.button1{
  top: 35px;
    width: 60%;
    left: 19%;
    height: 66px;
  }
  
  .MuiFormControl-fullWidth{
    margin-left: 361px !important;
    margin-top: -45px !important;
  }
  .MuiInputLabel-outlined{
    margin-left: 68px !important;
  }
  
  .MuiTypography-body1{
    margin-top: 5px !important;
    // margin-bottom: 10px !important;
  }
.class-test-status-table .chapter-quiz-stuent-result .quiz-result-detail .success-answer span{
  font-size:11px !important;
  padding-top: 26px !important;
}
.class-test-status-table .chapter-quiz-stuent-result p{
  font-size:15px !important;
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .student-activity{}
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .student-activity{}
}
@media (max-width:360px)
 {
  .main-content{
    overflow: auto !important;
    }
  .dashboard .dashboard-listing-wrapper ul li{
    height: 33px;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper .circle-icon{  
    top:2px !important;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper p{
    margin-left:18px !important;
    }
  .dashboard .learning-status ul{
    width:267px !important;
    margin: 11px 0 11px 0 !important;
  }
  .dashboard .learning-status .learning-progress-bar{
    width:249px !important;
  }
  .dashboard .syllabus-status{
    width: 310px !important;
    position: relative;
    display: block !important;

  }
  .dashboard .learning-status{
    display: block !important;
    width:300px !important;
  }
  .MuiGrid-spacing-xs-3{
    width: 429px !important;
    padding-right: 20px;
  }
  .MuiGrid-container{
    display: block !important;
  }
  .dashboard .dashboard-listing-wrapper{
    width:257px !important;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper .circle-icon{
    bottom:5px !important;
  }
  .MuiGrid-grid-xs-11{
    margin-left: 7px;
  }
  body .mobile-header{
    position: fixed !important;
  }
  body .student-profile .syllabus-container .chapter-list .syllabus-detail .post-learning{
    border-right: none !important;
    margin-left:-16px !important;
  }
  body .student-profile .syllabus-container .chapter-list .syllabus-detail .pre-learning{
    border-right: none !important;
  }
  .MuiGrid-root{
    border-right: none !important;
  }
  body .student-activity .recent-activity .timeline:after{
    left:11px !important;
  }
}
@media (max-width: 320px){
  .main-content{
    overflow: auto !important;
    }
  .dashboard .dashboard-listing-wrapper ul li{
    height: 33px;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper .circle-icon{  
    top:2px !important;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper p{
    margin-left:18px !important;
    }
.MuiGrid-container{
  position: relative !important;
    display:block !important;
}
.dashboard .learning-status ul{
  width:267px !important;
}
.dashboard .learning-status ul li p{
  width:72px !important;
}
.dashboard .learning-status ul, .dashboard .syllabus-status ul{
  width:206px !important
}
.dashboard .learning-status .learning-progress-bar{
  width:200px !important;
}
.dashboard .dashboard-listing-wrapper .top-performers-detail{
  width:200px !important;
}
.dashboard .dashboard-listing-wrapper{
  width:217px !important;
}
.dashboard .dashboard-listing-wrapper p{
margin-left: 7px !important;
}
.dashboard .learning-status, .dashboard .syllabus-status{
  display: block;
  width:261px !important;
}
body .desktop-footer{
  margin-left: 0 !important;
}
body .student-profile .syllabus-container .chapter-list .syllabus-detail .pre-learning{
  border-right: none !important;
}
body .student-profile .syllabus-container .chapter-list .syllabus-detail .post-learning{
  border-right: none !important;
  margin-left:-16px !important;
}
body .student-profile .syllabus-container .chapter-list .syllabus-detail .post-learning .chapter-detail .progressbar {
  width:235px !important;
}
.MuiGrid-root{
  border-right: none !important;
}
body .student-activity .recent-activity .timeline:after{
  left:11px !important;
}
}
@media (min-width: 375px) and (max-width:667px)
{
  .main-content{
    overflow: auto !important;
    }
  .dashboard .dashboard-listing-wrapper ul li{
    height: 33px;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper .circle-icon{  
    top:2px !important;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper p{
    margin-left:18px !important;
    }
  .dashboard .learning-status ul{
    width:267px !important;
  }
  .dashboard .learning-status .learning-progress-bar{
    width:249px !important;
  }
  .dashboard .syllabus-status{
    width: 310px !important;
    position: relative;
    display: block !important;

  }
  .dashboard .learning-status{
    display: block !important;
    width:313px !important;
  }
  .MuiGrid-spacing-xs-3{
    width: 429px !important;
    padding-right: 20px;
  }
  .MuiGrid-container{
    display: block !important;
  }
  .dashboard .dashboard-listing-wrapper{
    width:268px !important;
  }
  .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper .circle-icon{
    bottom:5px !important;
  }
  .MuiGrid-grid-xs-11{
    margin-left: 7px;
  }
  body .mobile-header{
    position: fixed !important;
    z-index: 30;
  }
  body .student-profile .syllabus-container .chapter-list .syllabus-detail .post-learning{
    border-right: none !important;
    margin-left:-16px !important;
  }
  body .student-profile .syllabus-container .chapter-list .syllabus-detail .pre-learning{
    border-right: none !important;
  }
  .MuiGrid-root{
    border-right: none !important;
  }
  body .student-activity .recent-activity .timeline:after{
    left:11px !important;
  }
}

/*syllabus*/

@media (min-width: 360px) and (max-width: 640px){
  .chapter-wrapper .chapter-tabs-wrapper{
    display: block !important;
    position: relative !important;
    width: 303px !important;
  }
  body .classTest-wrapper .student-status, body .chapter-wrapper .student-status {
    float: left !important;
    width:303px !important;
    padding-bottom: 25px !important;
 }
 .MuiTableRow-root{
   display:grid !important;
 }
 .MuiGrid-spacing-xs-2 {
  width: calc(939px + 16px) !important;
 }
 body .desktop-footer{
  margin-left: 0 !important;
}
}

@media (min-width: 411px) and (max-width: 767px){
  .chapter-wrapper .chapter-tabs-wrapper{
    width:326px !important;
  }
  body .chapter-wrapper .student-status{
    width:352px !important;
  }
  body .chapter-wrapper .student-status .status-table{
    width:271px !important;
  }
  .main-content{
  overflow: auto !important;
  }
  }
  @media (max-width:320px){
    body .chapter-wrapper .student-status{
      float: left;
      width:259px;
      padding-bottom: 20px;
    }
      .chapter-wrapper .chapter-tabs-wrapper{
        display: block !important;
        position: relative !important;
        width: 259px !important;
      }
      .MuiTableRow-root{
        display:grid !important;
      }
      .MuiGrid-spacing-xs-2 {
        width: calc(810px + 16px) !important;
       }
       }
/*class*/
@media (min-width: 360px) and (max-width: 640px){
  .filter-search-bar .filter-btn{
    top: -32px !important;
    left: 196px !important;
  }
  .filter-search-bar .search-bar{
    width:186px !important;
  }
}
  @media (min-width: 320px){
    .filter-search-bar .filter-btn{
      top: -32px !important;
      left: 150px !important;
    }
    .filter-search-bar .search-bar{
      width:150px !important;
    }
  }
  @media (min-width: 375px) and (max-width:667px){
    .filter-search-bar .search-bar{
      width:192px !important;
    }
    .filter-search-bar .filter-btn{
      top: -32px !important;
      left: 191px !important;
    }
  }
  @media (min-width: 414px) and (max-width:736px){
    .filter-search-bar .search-bar{
      width:224px !important;
    }
    .filter-search-bar .filter-btn{
      top: -32px !important;
      left: 222px !important;
    }
  }

@media (min-width: 768px){
  .filter-search-bar .search-bar{
    width:469px !important;
  }
  .filter-search-bar .filter-btn{
    top: 0px !important;
    left: -79px !important;
  }
}
@media (min-width: 1024px) {

  
  .filter-search-bar .search-bar{
    width:677px !important;
}
}
@media (min-width: 1366px) {
  .filter-search-bar .search-bar{
    width:900px !important;
}
}
/* create test */
@media (min-width: 360px) and (max-width: 640px){
  body .class-test-crud-modal .create-test-form label{
  width:121px !important;
    }
  }
  @media (min-width: 414px) and (max-width:736px){
  body .class-test-crud-modal .create-test-form .chapter-select{
    width: 96px;
  }
  }

  



////////////////////////////////classroom///////////////////////////////////////////  

@media (min-width: 280px) and (max-width:667px)
{
//   .syllabus-status .learning-progress-bar {
//     width: 1200px !important;
// }
// .Grid-container-classroom{
//  // background-color: lawngreen;
//   width:auto;
//   overflow: auto;
// //  max-width: width auto;
//   z-index: -5;
// }
}




//////////////////////////////Dashboard///////////////////////////

@media (min-width: 411px)  and (max-width:731px){
  .main-content{
    overflow: auto !important;
    
    }
  .dashboard .dashboard-listing-wrapper ul li{
    height: 33px;
  }
  // .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper .circle-icon{  
  //   top:2px !important;
  // }
  // .dashboard .dashboard-listing-wrapper .pending-chapter-wrapper p{
  //   margin-left:18px !important;
  //   }
.MuiGrid-container{
  padding: 16px;
  position: relative !important;
 //   display:block !important;
    width:20px !important;
// }
}
}

@media(max-width:280px){
  .main-content{
    overflow: auto !important;
   // padding-left: -200px;
    
    }
  
  .MuiGrid-container{
    padding: 16px;
    position: relative !important;
      display:block !important;
      width:20px !important;
  }
}

// @media(max-width:768px){
//   .main-content{
//  //   background-color: lightcoral;
//     justify-content: center;
//   }
// }

////////////////////////////////Surface Duo Dashboard/////////////
@media (min-width:540px){
  .main-content .dashboard  .MuiGrid-root .learning-status{
    //  background-color: lightcoral;
       max-width: 30vw;
       padding-right: 420px;
       
       
     }
     .main-content .dashboard  .dashboard-listing-wrapper {
  
       padding-right: 150px  !important;
       
     }
}

@media(min-width :768px){
  .main-content .dashboard  .MuiGrid-root .learning-status{
     
       padding: 50px;     
       z-index: -2;
     }

     .main-content .dashboard  .MuiGrid-root .syllabus-status{
    // background-color:yellow;  
     }
     .main-content .dashboard  .dashboard-listing-wrapper{
       padding-right:70px  !important;
      
     }
     
}

@media(min-width:280px){
  .main-content{
    overflow: hidden;
    width:auto;
  }
  .main-content .dashboard{
padding:60px;
  }


  .main-content .dashboard  .MuiGrid-root .syllabus-status{
  

  }
  .main-content .dashboard  .dashboard-listing-wrapper{
    padding:20px;
    justify-content: center;
    position: relative;
    z-index: -2;
  }

}
@media(min-width:768px){
  .learning-status{
    overflow: scroll;
    position: relative;
    z-index :8;
    

  }
}

////////////////////////////// ClassRoom Galaxy /////////////////////////////////////
@media(min-width:280px){
  .Grid-container-classroom .learning-status{

    background-color: yellowgr
    

  }
  }







@media(min-width:280px){
  .main-content .dashboard .MuiGrid-root ul {

    //background-color: lawngreen;
    overflow: scroll;
  }

}

///////////////////////syllabus/////////////////
@media (min-width: 1024px) {

  
  .main-content .learning-status{
    // background-color: yellowgreen;
    padding: 250px;
    
  }

  .learning-status-card{
    margin-left: -3.2vw !important;
    // background-color: green;
    width: 15vw; //150px    
  }
  
}

@media(min-width: 668px) and (max-width: 850px) {
  .learning-status-card{
    margin-left: -7.2vw !important;
    // background-color: green;
    width: 15vw; //150px  
    overflow: scroll;  
  
  }
}

@media(min-width: 851px) and (max-width: 1024px) {
  .learning-status-card{
    margin-left: -3.2vw !important;
    // background-color: green;
    width: 15vw; //150px    
  
  }
}


@media (min-width:360px) and (max-width:640px){
  .student-profile{
   // flex-wrap: wrap;
    z-index: -10;
    overflow: auto;
    
   // background-color: yellowgreen;
  //  position: relative;

  }

  
}
// @media (min-width:360px) and (max-width:640px){
  @media screen and (max-width: 350px){
// .student-profile-syllabus-card{
    // display: flex;
    // align-items: center;
    // position: absolute;
    // z-index: -20;

// }

  

}

@media (min-width:280px){

  .student-profile{
    // flex-wrap: wrap;
     z-index: -10;
     overflow: auto;
  } 

  .res-dates{
    display: flex;
    // justify-content: center;
    // background-color: red;
    width: 75vw;
    flex-wrap: wrap;
    margin-left: 4vw;
    p:nth-child(even) {
      font-weight: bold;
      margin-right: 10px;
    }
    
  }
  .post-learning{
    width: 150vw;
    p:nth-child(even) {
      font-weight: bold;
      margin-right: 10px;
      width: 70px;
    }
  }   

}


@media (min-width:320px) and (max-width:600px){
  .student-profile{
    flex-wrap: wrap;
  //  position: relative;
    z-index: -5;

    .res-dates{
      display: flex;
      // justify-content: center;
      // background-color: red;
      width: 75vw;
      flex-wrap: wrap;
      margin-left: 4vw;
      p:nth-child(even) {
        font-weight: bold;
        margin-right: 10px;
      }
      
    }
    
    .post-learning{
      width: 175vw;
      p:nth-child(even) {
        font-weight: bold;
        margin-right: 10px;
        width: 70px;
      }
    }   
  }

  

////////////////////////////////// mobile Header ///////////////////////////
  .mobile-header{
    position: relative;
    z-index: 10;
  }
}


/////////////////////////////////////////////////////////////////////////////////