body{
  font-family: 'Montserrat', sans-serif;
  background: #EEEEEE;
  .no-record-found{
    text-align: center;
    font-style: normal;
    margin-top: 30px;
    h4{
      font-size: 16px;
      font-weight: 500;
      margin-block-end: 0px;
    }
    p{
      color: #C1C1C1;
      font-size: 14px;
      margin-bottom: 40px;
      margin-block-start: 0px;
    }
  }
  .loader{
    width: 100%;
    z-index: 999999;
    img{
      position: fixed;
      top: 40%;
      left: 55%;
      width: 50px;
    }
  }
  .success-badge{
    font-size: 10px;
    background: #7ED321;
    color: #fff!important;
    padding: 2px 10px;
    border-radius: 3px;
  }
  .warning-badge{
    font-size: 10px;
    background: #fff1b6!important;
    color: #a78701!important;
    padding: 2px 10px;
    border-radius: 3px;
  }
  .error-badge{
    font-size: 10px;
    background: #FD7082;
    color: #fff!important;
    padding: 2px 10px;
    border-radius: 3px;
  }
  .primary-link{
    color: #3482FF;
    font-size: 12px;
    cursor: pointer;
    .MuiSvgIcon-root{
      font-size: 14px;
    }
  }
  .danger-link{
    color: red;
    font-size: 12px;
    cursor: pointer;
    .MuiSvgIcon-root{
      font-size: 14px;
    }
  }

  .warning-toast{
    .MuiSnackbarContent-root{
      background: #d32f2f;
    }
  }
  .success-toast{
    .MuiSnackbarContent-root{
      background: #43a047;
    }
  }

  .desktop-header, .mobile-header{
    height: 60px;
    background: #3E66A7;
  
  }
  .mobile-header{
    .menu-icon{
      color: #fff;
      font-size: 60px;
    }
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .desktop-header{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    height: 60px;
    background: #3E66A7;
    .header-user-info{
      background: #2A4D84;
      height: 60px;
      position: fixed;
      top: 0;
      right: 0;
      width: 230px;
      .MuiGrid-container{
        padding: 10px;
        .user-detail{
          color: #fff;
          font-size: 10px;
          padding-top: 5px;
          cursor: pointer;
          img{
            position: fixed;
            right: 10px;
            top: 15px;
          }
          div{
            &:first-child{
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
      }
      .user-action{
        width: 100%;
      }
    }
    .header-main-content{
      .search-input{
        background: #557BB9;
        border-radius: 4px;
        margin-top: 13px;
        margin-left: 20px;
        min-width: 300px;
        color: #fff;
        svg{
          padding: 5px;
          color: #9cb2d4;
        }
        input{
          &::placeholder{
            color: #FFFFFF;
            font-size: 12px;
          }
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #FFFFFF;
            font-size: 12px;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #FFFFFF;
            font-size: 12px;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #FFFFFF;
            font-size: 12px;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #FFFFFF;
            font-size: 12px;
          }
        }
        &:before{
          border-bottom: none;
        }
      }
    }
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background: #F2F2F2;
    .app-logo{
      background: #2A4D84;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      width: 230px;
      text-align: center;
      padding-top: 5px;
    }
    .sidebar-content{
      position: fixed;
      overflow: auto;
      top: 60px;
      left: 0px;
      border-right: 1px solid #E7E7E7;
      width: 230px;
      height: -webkit-fill-available;
      .primary-menu{
        background: #fff;
        border-bottom: 1px solid #E7E7E7;
        border-top: 1px solid #E7E7E7;
        .MuiListItemIcon-root{
          min-width: 0px;
        }
        .MuiList-padding{
          padding-top: 0px;
          padding-bottom: 0px;
          hr{
            &:last-child{
              display: none
            }
          }
        }
        .sidebar-menu-text{
          color: #555555;
          opacity: 1;
          margin-bottom: 0px;
        }
        .active{
          .sidebar-menu-text{
            color: #3482FF
          }
        }
      }
      .sidebar-heading, .sidebar-menu-text{
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        font-size: 14px;
        line-height: 17px;
        margin-left: 10px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 10px;
        display: block;
      }
      .class-switcher{
        margin-bottom: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        img{
          float: left;
          margin-left: 5px;
          margin-right: 5px;
        }
        p, span{
          font-size: 10px;
          color: #545454;
          margin-bottom: 0px;
        }
        h4{
          color: #000000;
          font-size: 12px;
          line-height: 14px;
          font-weight: 500;
          margin-top: 5px;
          margin-bottom: 0px;
        }
        span{
          font-weight: 500;
        }
        .select-class-container{
          margin-left: 10px;
          margin-top: 10px;
        }
        #select-class{
          padding: 10px 20px 10px 10px;
          width: 180px;
        }
      }
    }
  }
  .desktop-footer{
    position: fixed;
    padding: 15px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E7E7E7;
    background: #f2f2f2;
    margin-left: 230px;
    right: 0;
    p{
      margin: 0;
      font-size: 14px;
      .devider{
        float: right;
      }
      a{
        color: #3482FF;
        padding: 0 5px;
        float: right;
      }
    }
  }
}


//////////////////////////// responsive //////////////////////////////////////

@media screen and (max-width: 650px) {
  .desktop-header{

    overflow: auto;
  }

  
  .search-input{
    // overflow: auto;
    // position: absolute;

    width: 150px;
    background: red;

  }  




  .desktop-footer{
    p{
      color: red;
      .resp-footer{
        display: block;
        text-align: center;
      }
      .resp-links{
        text-align: center;
        
        
      }
    }

  } 
}



// .login-form {
//   width: 100px;
//   height: 100px;
  
//   position: relative;
//   animation: mymove 10s infinite;
//   animation-delay: 2s;
// }

// @keyframes mymove {
//   from {left: 0px;}
//   to {left: 200px;}
// }



@media screen and (min-width: 960px){
  .header-user-info{

  }
  .learning-status ul{
    text-align: inherit;
    flex-wrap: wrap;
    flex-direction: inherit;
  }
}