body{
  margin: 0px;
  .up-datepicker{
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(168, 162, 164);
    margin-left: 10px;
  }
  .button{
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    padding: 5px 20px;
    box-shadow: 0px 2px 4px rgba(228, 228, 228, 0.5);
    &:disabled{
      cursor: not-allowed;
      opacity: 0.6;
      color: #E9E9E9;
    }
  }
  .primary-button{
    background: #3482FF;
    color: #FFFFFF;
    border: 1px solid #3757E5;
    cursor: pointer;
    &:hover{
      background: #0e51be;
    }
    &:disabled{
      cursor: not-allowed;
    }
  }
  .success-button{
    background: linear-gradient(180deg, #B4EC51 0%, #6FB734 60.26%, #429321 100%);;
    color: #FFFFFF;
    border: 1px solid #D7DCE5;;
  }
  .status{
    padding: 5px 20px;
    border-radius: 3px;
    color: #ffffff;
  }
  .success-status{
    background: #7ED321
  }
  .error-status{
    background: #FD7082
  }
  .page-header{
    h2{
      font-weight: 500;
      margin-bottom: 0px;
      font-size: 24px;
      margin-top: 0px;
    }
    p, a{
      margin-top: 9px;
      color: #A4A4A4;
      font-size: 13px;
      margin-bottom: 30px;
    }
    a{
      color: #3482FF;
      text-decoration: none;
      display: inline-block;
    }
  }
  .classTest-wrapper, .chapter-wrapper{
    .chapter-heading, .classTest-heading{
      align-self: center;
    }
   .student-status{
     float: right;
     p{
       font-size: 10px;
       margin: 0 0 8px 0 ;
     }
     ul{
       margin: 0;
       padding: 12px 25px;
       li{
         display: inline-block;
         margin-right: 40px;
         &:last-child{
           margin-right: 0;
         }
       }
     }
     .status-table{
        list-style: none;
        background: #ffffff;
        text-align: center;
        border: 1px solid #3E66A7;
        border-bottom: 4px solid #3E66A7;
        h2{
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          margin: 0;
        }
        p{
          margin: 0;
          color: #888C9B;
        }
     }
   }
  }
}
