body{
  #react-mathjax-preview {
    img {
      max-width: 300px;
    }
  }
  .error{
    margin-block-start: 5px;
    color: red;
    font-weight: 500;
    margin-block-end: 0;
  }
  .required-asterisk{
    color: red;
  }
  .login-container{
    align-items: center;
    justify-content: center;
    height:690px;
    h3{
      margin-top:130px;
    }
    .logo{
      display: block;
      position: absolute;
      top: 1%;
      left: 39%;
    }
    .logos{
      display: block;
      position: absolute;
      top:5%;
    }
    .logoes{
      display:block;
      position:absolute;
      top:5%;
    }
    #login_image{
      width: 90%;
      margin-top:100px;
    }
    .home-message{
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
    }
    .select-class-auth{
      text-align: center;
      .welcome-note{
        clear: both;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
        margin-top:212px;
      }
      .school-info{
        display: block;
        text-align: left;
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        img{
          float: left;
        }
        .school-detail{
          margin-left: 68px;
        }
        p, span{
          font-size: 10px;
          color: #545454;
          margin-bottom: 0px;
        }
        h4{
          color: #000000;
          font-size: 12px;
          line-height: 14px;
          font-weight: 500;
          margin-top: 5px;
          margin-bottom: 0px;
        }
        span{
          font-weight: 500;
        }
        p{
          margin-top: 0px;
        }
      }
    }

    .login-form{
      background: #fff;
      width: 350px;
      min-height: 300px;
      padding: 20px 40px;
      border: 1px solid #BCBCBC;
      box-sizing: border-box;
      box-shadow: 0px 2px 2px rgba(201, 201, 201, 0.5);
      border-radius: 4px;
      .notice{
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
        a{
          color: #3482FF;
        }
      }
      .success-message{
        text-align: center;
        img{
          width: 60px;
        }
        p{
          color: #7bb901;
        }
      }
      label{
        margin-top: 20px;
        color: #2F4D78;
      }
      .login-button{
        width: 100%;
        margin-top: 20px;
      }
      .password, .username{
        width: 100%;
        margin-top: 5px;
        padding: 10px 10px;
        box-shadow: inset 0px 1px 2px rgba(180, 180, 180, 0.5);
        border-radius: 3px;
        border: 1px solid #C6C9D5;
        box-sizing: border-box;
        box-shadow: inset 0px 1px 2px rgba(180, 180, 180, 0.5);
        &::placeholder{
          color: #E9E9E9;
          font-size: 14px;
          line-height: 17px;
          font-weight: 500;
        }
      }
      .forgot-password{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
      }
    }
    .class-switcher{
      width: 350px;
      height: 280px;
      margin-top:-827px;
      .select-class{
        margin-bottom: 50px;
        margin-top: -149px;
        padding: 10px 20px 30px 20px;
        background: #fff;
        border: 0.72px solid #BCBCBC;
        border-radius: 5px;
        label{
          margin-top: 20px;
          margin-left: 10px;
          color: #2F4D78;
        }
        .primary-button{
          width: 290px;
          margin: 20px 10px 0px 10px;
          padding: 10px;
        }
        .select-class-container{
          margin-left: 10px;
          margin-top: 10px;
          width: 290px;
          margin-right: 10px;
        }
      }
    }
  }
}

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media  (max-width: 480px) {
  .login-container{
    padding: 30px 0;
    text-align: center;
    .logo{
      margin-bottom: 30px;
    }
    label{
      text-align: left;
    }
  }
   .login-container .login-form{
         width:327px !important;
       }
       .App{
             padding-top: 40px;
          }
          .login-container .logo{
            top: 9px !important;
           }
}
@media (max-width: 320px)
{
  .login-container .login-form{
    width: 100% !important;
  }
  .login-container .logo{
    top: -59px !important;
  }
  .App{
    padding-top: 40px;
  }
}
@media only screen and (max-width: 360px) {
  .select-class {
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px 20px 30px 7px !important;
    background: #fff;
    border: 0.72px solid #BCBCBC;
    border-radius: 5px;
  }
}